{% unless channel %}
  {% assign hideAppbar = true %}
{% endunless %}

{% layout 'layout/default' %}

{% block appbar %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{channel.name}}
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-dark" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#" id="channel-change-password">Change Password</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" id="channel-leave">Leave</a>
    </div>
  </li>
</ul>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    {% if channel %}
      <button class="btn btn-primary">Filter</button>
      <div class="item-list" id="items"></div>
    {% else %}
      <form class="form-channel" id="entry-channel-form">
        <h4 class="heading">Join/Register a Channel</h4>
        <div class="alert" role="alert" id="alert"></div>
        <div class="form-group">
          <label for="channel-name">Name</label>
          <input type="text" required class="form-control" autofocus placeholder="Channel Name" aria-label="Channel Name" id="channel-name" />
        </div>
        <div class="form-group">
          <label for="channel-password">Password</label>
          <input type="text" required class="form-control" placeholder="Channel Password" aria-label="Channel Password" id="channel-password" />
        </div>
        <div class="form-group d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" id="channel-register">Register</button>
          <button type="submit" class="btn btn-primary" id="channel-join">Join &rarr;</button>
        </div>
      </form>
    {% endif %}
  </div>
  {% raw %}
  <script id="template_item" type="text/liquid">
    <div class="item" data-id="{{ _id }}" data-quality="{{ quality }}" data-action="{{ action }}">
      <div class="item-base">
        <div class="title">
          <span class="color-{{ quality }}">{{ name }}</span>
          <span class="fz-14 color-gray">({{ level }})</span>
        </div>
        <div class="time color-gray fz-14">
          <b>{{ action }}</b> {{ timestamp | date: '%m-%d %H:%M' }}
        </div>
      </div>
    </div>
  </script>
  <script id="template_item_detail" type="text/liquid">
    <div class="item-detail font-d2">
      <div class="title">
        <span class="color-{{ quality }}">{{ name }}</span>
        <span class="fz-14 color-gray">({{ level }})</span>
      </div>
      <div class="body">
        <ul class="stats">
          {% for mod in stats %}
            {%- if forloop.first %}
            <li class="color-gray">
              {{ mod }}
            </li>
            {% else -%}
            <li>
              {{ mod | mod_color }}
            </li>
            {%- endif -%}
          {% endfor %}
          <li class="color-gray st">
            <b>{{ action }}</b> {{ timestamp | date: '%Y-%m-%d %H:%M' }}
          </li>
          <li class="color-gray">
            <b>Profile:</b> {{ profile }}
          </li>
          <li class="color-gray">
            <b>Area:</b> {{ area }}{% if isRecipe %} (Cubing){% endif %}
          </li>
        </ul>
      </div>
    </div>
  </script>
  {% endraw %}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/app.js"></script>
{% endblock %}
